<div class="page">
   <app-subtitle>Profile</app-subtitle>

  <app-section title="Regular Info">
      @if (userInfo$ | async; as res) {
      @if (res.error) {
        <div>No hay resultados</div>
      } @else if (res.loading) {
        <div>Cargando...</div>
      } @else {
        <div>{{ res.data | json }}</div>
      }
    } @else {
      <div>No hay resultados</div>
    }
  </app-section>

  <app-section title="Twitter Info">
      @if (userTwitterInfo$ | async; as res) {
      @if (res.error) {
        <div>No hay resultados</div>
      } @else if (res.loading) {
        <div>Cargando...</div>
      } @else {
        <div>{{ res.data | json }}</div>
      }
    } @else {
      <div>No hay resultados</div>
    }
  </app-section>
</div>
